body {
  padding-top: 70px;
  padding-left: 90px;
  padding-right: 20px;
  height: 3000px;
}

@media (max-width: 550px) {
  body {
    padding-left: 12px
  }
}

@media (min-width: 551px) and (max-width: 750px)  {
  body {
    padding-left: 20px
  }
}